html {
    background-color: white; 
    font-size: 100%;
}
/*header*/

header{
    text-align: center;
    display: inline;
    font-size: 1.5rem;
}

header h1 {
    margin-bottom: 0px;
}

/* main */

div#container> ul {
    border: 5px solid green;
    padding: 10px 200px 10px 40px;
    margin-top: 0px;
    font-size: 1.2rem;
}

div#container {
    display: flex;
    flex-flow: column;
    align-items: center;
}


/* footer */ 

footer {
    width: 900px;
    height: 150px;
}